[package]
name = "tokenserver-auth"
version.workspace = true
license.workspace = true
authors.workspace = true
edition.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures.workspace = true
serde.workspace = true
serde_json.workspace = true

async-trait = "0.1.40"
dyn-clone = "1.0.4"
pyo3 = { version = "0.20", features = ["auto-initialize"] }
reqwest = { version = "0.11", features = ["json", "rustls-tls"] }
syncserver-common = { path = "../syncserver-common" }
tokenserver-common = { path = "../tokenserver-common" }
tokenserver-settings = { path = "../tokenserver-settings" }
# pinning to 0.2.4 due to high number of dependencies (actix, bb8, deadpool, etc.)
tokio = { version = "0.2.4", features = ["blocking"] }

[dev-dependencies]
mockito = "0.30.0"
