[package]
name = "tokenserver-auth"
version = "0.12.3"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.40"
dyn-clone = "1.0.4"
futures = { version = "0.3", features = ["compat"] }
pyo3 = { version = "0.14", features = ["auto-initialize"] }
reqwest = { version = "0.10.10", features = ["json", "rustls-tls"] }
serde = "1.0"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
syncserver-common = { path = "../syncserver-common" }
tokenserver-common = { path = "../tokenserver-common" }
tokenserver-settings = { path = "../tokenserver-settings" }
# pinning to 0.2.4 due to high number of dependencies (actix, bb8, deadpool, etc.)
tokio = { version = "0.2.4", features = ["blocking"] }

[dev-dependencies]
mockito = "0.30.0"
