.DS_Store
syntax:glob
.svn
.coverage
*.pyc
*.egg-info
*.egg
*~
build
ddb
dist
docs/_build
*.xml
html_coverage
.hgignore
.idea
*.iml
site-packages/*
lib-python/*
bin/*
include/*
lib_pypy/*
*.swp
pypy/
./src/
.tox/
.eggs/
target
*.rs.bk
.#*
service-account.json


config/local.toml
venv
mozilla-rust-sdk
