[package]
name = "syncstorage"
version = "0.1.0"
license = "MPL-2.0"
authors = [
  "Ben Bangert <ben@groovie.org>",
  "Phil Jenvey <pjenvey@underboss.org>",
]
edition = "2018"

[profile.release]
# Enables line numbers in Sentry
debug = 1

[dependencies]
actix-web = "1.0"
actix-rt = "0.2"
actix-cors = "0.1"
actix-http = "0.2"
actix-service = "0.4"
base64 = "0.10.1"
bytes = "0.4"
cadence = "0.17.1"
chrono = "0.4"
config = "0.9.3"
diesel = { version = "1.4.2", features = ["mysql", "r2d2"] }
diesel_logger = "0.1.0"
diesel_migrations = { version = "1.4.0", features = ["mysql"] }
docopt = "1.1.0"
env_logger = "0.6"
failure = "0.1.5"
futures = "0.1.28"
#googleapis-raw = { version = "0", path = "../mozilla-rust-sdk/googleapis-raw", optional = true}
#grpcio = { version = "0.5.0-alpha.1", optional = true }
lazy_static = "1.3.0"
# TODO: switch back to default (use_ring) after upgrading hyper-rustls 0.6
hawk = { version = "3.0.0", default_features = false, features = ["use_openssl"] }
hkdf = "0.8.0"
hmac = "0.7"
mime = "0.3"
mozsvc-common = "0.1"
num = "0.2.0"
num_cpus = "1.10"
protobuf = "2.7.0"
rand = "0.7"
regex = "1.2"
sentry = "0.16.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
serde_urlencoded = "0.6.0"
sha2 = "0.8.0"
time = "0.1.42"
tokio-threadpool = "0.1.15"
url = "2.0.0"
uuid = { version = "0.7.4", features = ["serde", "v4"] }
validator = "0.9"
validator_derive = "0.9"

google-spanner1 = "1.0.10"
#google-spanner1 = { version = "*", path = "../google-apis-rs/gen/spanner1" }
# This project intentionally uses an old version of Hyper. See
# https://github.com/Byron/google-apis-rs/issues/173 for more
# information.
hyper = "^0.10"
hyper-rustls = "^0.6"
yup-oauth2 = "^1.0"

[features]
db_test = []
#google_grpc = ["googleapis-raw", "grpcio"]
