[workspace]
resolver = "2"
members = [
    "syncserver-settings",
    "syncstorage-common",
    "syncstorage-db-common",
    "syncstorage-settings",
    "tokenserver-common",
    "tokenserver-settings",
    "syncserver",
]
default-members = ["syncserver"]

[profile.release]
# Enables line numbers in Sentry reporting
debug = 1
