version: '3'
services:
    sync-db:
    tokenserver-db:
    syncstorage-rs:
        depends_on:
          - sync-db
          - tokenserver-db
        # TODO: either syncstorage-rs should retry the db connection
        # itself a few times or should include a wait-for-it.sh script
        # inside its docker that would do this for us. Same (probably
        # the latter solution) for server-syncstorage below
        entrypoint: >
          /bin/sh -c "
            sleep 15;
            /app/bin/syncstorage;
          "
    e2e-tests:
        depends_on:
          - syncstorage-rs
        image: app:build
        privileged: true
        user: root
        environment:
          SYNC_HOST: 0.0.0.0
          SYNC_MASTER_SECRET: secret0
          SYNC_DATABASE_URL: mysql://test:test@sync-db:3306/syncstorage
          SYNC_TOKENSERVER__DATABASE_URL: mysql://test:test@tokenserver-db:3306/tokenserver
          SYNC_TOKENSERVER__ENABLED: true
          SYNC_TOKENSERVER__FXA_EMAIL_DOMAIN: api-accounts.stage.mozaws.net
          SYNC_TOKENSERVER__FXA_METRICS_HASH_SECRET: secret0
          SYNC_TOKENSERVER__FXA_OAUTH_SERVER_URL: https://oauth.stage.mozaws.net
          TOKENSERVER_HOST: http://localhost:8000
        entrypoint: >
          /bin/sh -c "
            sleep 28; pip3 install -r /app/tools/integration_tests/requirements.txt && python3 /app/tools/integration_tests/run.py 'http://localhost:8000#secret0'
          "
