[package]
name = "tokenserver-common"
version = "0.12.5"
edition = "2021"

[dependencies]
actix-web = "3"
backtrace = "0.3.61"
serde = "1.0"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
syncserver-common = { path = "../syncserver-common" }
syncserver-db-common = { path = "../syncserver-db-common" }
syncstorage-mysql = { path = "../syncstorage-mysql" }
thiserror = "1.0.26"
