cryptography==3.4.8
hawkauthlib
konfig
mysqlclient
psutil
pyjwt
pyramid
pyramid_hawkauth
pyfxa
requests
simplejson
sqlalchemy
tokenlib
#unittest2 -- no longer valid python3.10+
pytest
webtest
wsgiproxy2
