cryptography==44.0.2
hawkauthlib
konfig
mysqlclient
psutil
pyjwt
pyramid
pyramid_hawkauth
pyfxa @ git+https://github.com/mozilla/PyFxA@fede769
pytest
requests
simplejson
sqlalchemy
tokenlib
webtest
wsgiproxy2
