cryptography==44.0.2
hawkauthlib
konfig
mysqlclient
psutil
pyjwt
pyramid
pyramid_hawkauth
pyfxa @ git+https://github.com/mozilla/PyFxA@1f784fd
pytest
requests
simplejson
sqlalchemy
tokenlib
webtest
wsgiproxy2
