name: Checks

on:
  push:
    tags:
      - "*"
  pull_request:
    branches:
      - "**"

jobs:
  python-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-python
        with:
          workspace-path: workflow

      - name: Python Format Check
        run: make ruff-fmt-chk

      - name: Python Lint Check
        run: make ruff-lint

  rust-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-rust
        with:
          workspace-path: workflow

      - name: Rust Format Check
        run: cargo fmt -- --check

      - name: Cargo Audit
        run: cargo audit

      - name: Rust Clippy Spanner
        run: make clippy_spanner

      - name: Rust Clippy MySQL
        run: make clippy_mysql

      - name: Rust Clippy Postgres
        run: make clippy_postgres

      - name: Setup documentation checks
        run: make doc-install-deps

      - name: Documentation checks
        run: make doc-test
