name: Checks

on:
  push:
    tags:
      - "*"
  pull_request:
    branches:
      - "**"

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-rust-python
        with:
          workspace-path: workflow

      - name: Setup documentation checks
        run: make doc-install-deps

      - name: Core Rust Checks
        run: |
          cargo fmt -- --check
          cargo audit

      - name: Documentation checks
        run: make doc-test

      - name: Rust Clippy Spanner
        run: make clippy_spanner

      - name: Rust Clippy MySQL
        run: make clippy_mysql

      - name: Rust Clippy Postgres
        run: make clippy_postgres

      - name: Core Python Checks
        run: |
          poetry run make ruff-fmt-chk
          poetry run make ruff-lint
